# 阿里npm镜像
# registry=https://registry.npmmirror.com

# 官方npm库
registry=https://registry.npmjs.org

# 控制是否在安装依赖时将工作区包链接到 node_modules 中，而不是从远程下载
# link-workspace-packages=true

# 严格检查项目中是否满足所有声明的对等依赖，有助于确保依赖一致性
# strict-peer-dependencies=true

# 启用时，尝试合并或简化项目中重复的对等依赖，从而减少依赖树的冗余
# dedupe-peer-dependents=true
